<!DOCTYPE html>
<html>
<head>
    <title>Popeye vs Brutus</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">POPEYE</h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" :style="{width:popeyeHealth + '%'}">
                    {{ popeyeHealth }}
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">BRUTUS</h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="background-color: green; margin: 0; color: white;" 
                :style = "{width:brutusHealth + '%'}">
                    {{ brutusHealth }}
                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-if="!gameIsRunning">
        <div class="small-12 columns">
            <button id="start-game" @click = "startGame">START NEW GAME</button>
        </div>
    </section>
    <section class="row controls" v-else>
        <div class="small-12 columns">
            <button id="attack" @click = "attack">ATTACK</button>
            <button id="special-attack" @click = "specialAttack">SPECIAL ATTACK</button>
            <button id="spinach" @click = "spinach">EAT SPINACH</button>
            <button id="run-away" @click = "runAway">RUN AWAY</button>
        </div>
    </section>
    <section class="row log" v-if="turns.length > 0">
        <div class="small-12 columns">
            <ul>
                <li v-for="turn in turns"
                    :class = 
                    "{'popeye-turn':turn.isPopeye,'brutus-turn':!turn.isPopeye}"
                    >
                    {{turn.text}}
                </li>
            </ul>
        </div>
    </section>
</div>
<script src = "app.js"></script>
</body>
</html>